# Mule application
src/main/mule/** linguist-language=XML
src/test/munit/** linguist-language=XML
pom.xml linguist-language=XML

# JMeter test plans
.github/jmeter/**/*.jmx linguist-language=XML

# Postman collections
.github/postman/**/*.json linguist-language=JSON

# GitHub Actions
.github/workflows/* linguist-language=YAML

# Python scripts
.github/scripts/**/*.py linguist-language=Python

# Shell scripts
.github/scripts/**/*.sh linguist-language=Shell
